  <div class="form-group">
        <label class="col-sm-2 control-label" for="input-country">{{ entry_country }}</label>
        <div class="col-sm-10">
        <select name="config_country_id" id="input-country" class="form-control">
            
            {% for country in countries %}
            {% if country.country_id == config_country_id %}
            
            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
            
            {% else %}
            
            <option value="{{ country.country_id }}">{{ country.name }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-zone">{{ entry_zone }}</label>
        <div class="col-sm-10">
        <select name="config_zone_id" id="input-zone" class="form-control">
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-language">{{ entry_language }}</label>
        <div class="col-sm-10">
        <select name="config_language" id="input-language" class="form-control">
            
            {% for language in languages %}
            {% if language.code == config_language %}
            
            <option value="{{ language.code }}" selected="selected">{{ language.name }}</option>
            
            {% else %}
            
            <option value="{{ language.code }}">{{ language.name }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-admin-language">{{ entry_admin_language }}</label>
        <div class="col-sm-10">
        <select name="config_admin_language" id="input-admin-language" class="form-control">
            
            {% for language in languages %}
            {% if language.code == config_admin_language %}
            
            <option value="{{ language.code }}" selected="selected">{{ language.name }}</option>
            
            {% else %}
            
            <option value="{{ language.code }}">{{ language.name }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-currency"><span data-toggle="tooltip" title="{{ help_currency }}">{{ entry_currency }}</span></label>
        <div class="col-sm-10">
        <select name="config_currency" id="input-currency" class="form-control">
            
            {% for currency in currencies %}
            {% if currency.code == config_currency %}
            
            <option value="{{ currency.code }}" selected="selected">{{ currency.title }}</option>
            
            {% else %}
            
            <option value="{{ currency.code }}">{{ currency.title }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_currency_auto }}">{{ entry_currency_auto }}</span></label>
        <div class="col-sm-10">
        <label class="radio-inline"> {% if config_currency_auto %}
            <input type="radio" name="config_currency_auto" value="1" checked="checked" />
            {{ text_yes }}
            {% else %}
            <input type="radio" name="config_currency_auto" value="1" />
            {{ text_yes }}
            {% endif %} </label>
        <label class="radio-inline"> {% if not config_currency_auto %}
            <input type="radio" name="config_currency_auto" value="0" checked="checked" />
            {{ text_no }}
            {% else %}
            <input type="radio" name="config_currency_auto" value="0" />
            {{ text_no }}
            {% endif %} </label>
        </div>
    </div>

<!--*****************Start Shamsi Date********************-->
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-shamsidate-format"><span data-toggle="tooltip" title="{{ help_shamsidate_format }}">{{ entry_shamsidate_format }}</span></label>
        <div class="col-sm-10">
        <select name="config_shamsidate_format" id="input-shamsidate-format" class="form-control">
            {% for format in shamsidate_formats %}
            {% if format.code == config_shamsidate_format %}
            <option value="{{ format.code }}" selected="selected">{{ format.title }}</option>
            {% else %}
            <option value="{{ format.code }}">{{ format.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
<!--*****************Ends Shamsi Date********************-->
    
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-length-class">{{ entry_length_class }}</label>
        <div class="col-sm-10">
        <select name="config_length_class_id" id="input-length-class" class="form-control">
            
            {% for length_class in length_classes %}
            {% if length_class.length_class_id == config_length_class_id %}
            
            <option value="{{ length_class.length_class_id }}" selected="selected">{{ length_class.title }}</option>
            
            {% else %}
            
            <option value="{{ length_class.length_class_id }}">{{ length_class.title }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-weight-class">{{ entry_weight_class }}</label>
        <div class="col-sm-10">
        <select name="config_weight_class_id" id="input-weight-class" class="form-control">
            
            {% for weight_class in weight_classes %}
            {% if weight_class.weight_class_id == config_weight_class_id %}
            
            <option value="{{ weight_class.weight_class_id }}" selected="selected">{{ weight_class.title }}</option>
            
            {% else %}
            
            <option value="{{ weight_class.weight_class_id }}">{{ weight_class.title }}</option>
            
            {% endif %}
            {% endfor %}
        
        </select>
        </div>
    </div>