
<fieldset>
<legend>Order View Thumbnails</legend>
<div class="form-group required">
<label class="col-sm-2 control-label" for="input_ovt_width"><span data-toggle="tooltip" title="Set thumbnail width for<br>sale/order/view order.">Set thumbnail width</span></label>
<div class="col-sm-10">
<input type="text" name="config_input_ovt_width" value="{{ config_input_ovt_width }}" placeholder="Width" id="input_ovt_width" class="form-control" />
{% if error.config_input_ovt_width %}
<div class="text-danger">{{ error.config_input_ovt_width }}</div>
{% endif %} </div>
</div>
<div class="form-group required">
<label class="col-sm-2 control-label" for="input_ovt_height"><span data-toggle="tooltip" title="Set thumbnail height for<br>sale/order/view order.">Set thumbnail height</span></label>
<div class="col-sm-10">
<input type="text" name="config_input_ovt_height" value="{{ config_input_ovt_height }}" placeholder="Height" id="input_ovt_height" class="form-control" />
{% if error.config_input_ovt_height %}
<div class="text-danger">{{ error.config_input_ovt_height }}</div>
{% endif %} </div>
</div>
</fieldset>

              <fieldset>
                <legend>{{ text_product }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_product_count }}">{{ entry_product_count }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_product_count %}
                      <input type="radio" name="config_product_count" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_product_count" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_product_count %}
                      <input type="radio" name="config_product_count" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_product_count" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-admin-limit"><span data-toggle="tooltip" title="{{ help_limit_admin }}">{{ entry_limit_admin }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_limit_admin" value="{{ config_limit_admin }}" placeholder="{{ entry_limit_admin }}" id="input-admin-limit" class="form-control" />
                    {% if error.limit_admin %}
                    <div class="text-danger">{{ error.limit_admin }}</div>
                    {% endif %} </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_review }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_review }}">{{ entry_review }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_review_status %}
                      <input type="radio" name="config_review_status" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_review_status" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_review_status %}
                      <input type="radio" name="config_review_status" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_review_status" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_review_guest }}">{{ entry_review_guest }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_review_guest %}
                      <input type="radio" name="config_review_guest" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_review_guest" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_review_guest %}
                      <input type="radio" name="config_review_guest" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_review_guest" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_voucher }}</legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-voucher-min"><span data-toggle="tooltip" title="{{ help_voucher_min }}">{{ entry_voucher_min }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_voucher_min" value="{{ config_voucher_min }}" placeholder="{{ entry_voucher_min }}" id="input-voucher-min" class="form-control" />
                    {% if error.voucher_min %}
                    <div class="text-danger">{{ error.voucher_min }}</div>
                    {% endif %} </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-voucher-max"><span data-toggle="tooltip" title="{{ help_voucher_max }}">{{ entry_voucher_max }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_voucher_max" value="{{ config_voucher_max }}" placeholder="{{ entry_voucher_max }}" id="input-voucher-max" class="form-control" />
                    {% if error.voucher_max %}
                    <div class="text-danger">{{ error.voucher_max }}</div>
                    {% endif %} </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_tax }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_tax }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_tax %}
                      <input type="radio" name="config_tax" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_tax" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_tax %}
                      <input type="radio" name="config_tax" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_tax" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-tax-default"><span data-toggle="tooltip" title="{{ help_tax_default }}">{{ entry_tax_default }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_tax_default" id="input-tax-default" class="form-control">
                      <option value="">{{ text_none }}</option>
                      
                      {% if config_tax_default == 'shipping' %}
                      
                      <option value="shipping" selected="selected">{{ text_shipping }}</option>
                      
                      {% else %}
                      
                      <option value="shipping">{{ text_shipping }}</option>
                      
                      {% endif %}
                      {% if config_tax_default == 'payment' %}
                      
                      <option value="payment" selected="selected">{{ text_payment }}</option>
                      
                      {% else %}
                      
                      <option value="payment">{{ text_payment }}</option>
                      
                      {% endif %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-tax-customer"><span data-toggle="tooltip" title="{{ help_tax_customer }}">{{ entry_tax_customer }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_tax_customer" id="input-tax-customer" class="form-control">
                      <option value="">{{ text_none }}</option>
                      
                      {% if config_tax_customer == 'shipping' %}
                      
                      <option value="shipping" selected="selected">{{ text_shipping }}</option>
                      
                      {% else %}
                      
                      <option value="shipping">{{ text_shipping }}</option>
                      
                      {% endif %}
                      {% if config_tax_customer == 'payment' %}
                      
                      <option value="payment" selected="selected">{{ text_payment }}</option>
                      
                      {% else %}
                      
                      <option value="payment">{{ text_payment }}</option>
                      
                      {% endif %}
                    
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_account }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_customer_online }}">{{ entry_customer_online }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_customer_online %}
                      <input type="radio" name="config_customer_online" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_customer_online" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_customer_online %}
                      <input type="radio" name="config_customer_online" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_customer_online" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_customer_activity }}">{{ entry_customer_activity }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_customer_activity %}
                      <input type="radio" name="config_customer_activity" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_customer_activity" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_customer_activity %}
                      <input type="radio" name="config_customer_activity" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_customer_activity" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_customer_search }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_customer_search %}
                      <input type="radio" name="config_customer_search" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_customer_search" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_customer_search %}
                      <input type="radio" name="config_customer_search" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_customer_search" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-customer-group"><span data-toggle="tooltip" title="{{ help_customer_group }}">{{ entry_customer_group }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_customer_group_id" id="input-customer-group" class="form-control">
                      
                      {% for customer_group in customer_groups %}
                      {% if customer_group.customer_group_id == config_customer_group_id %}
                      
                      <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                      
                      {% else %}
                      
                      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_customer_group_display }}">{{ entry_customer_group_display }}</span></label>
                  <div class="col-sm-10"> {% for customer_group in customer_groups %}
                    <div class="checkbox">
                      <label> {% if customer_group.customer_group_id in config_customer_group_display %}
                        <input type="checkbox" name="config_customer_group_display[]" value="{{ customer_group.customer_group_id }}" checked="checked" />
                        {{ customer_group.name }}
                        {% else %}
                        <input type="checkbox" name="config_customer_group_display[]" value="{{ customer_group.customer_group_id }}" />
                        {{ customer_group.name }}
                        {% endif %} </label>
                    </div>
                    {% endfor %}
                    {% if error.customer_group_display %}
                    <div class="text-danger">{{ error.customer_group_display }}</div>
                    {% endif %} </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_customer_price }}">{{ entry_customer_price }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_customer_price %}
                      <input type="radio" name="config_customer_price" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_customer_price" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_customer_price %}
                      <input type="radio" name="config_customer_price" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_customer_price" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-login-attempts"><span data-toggle="tooltip" title="{{ help_login_attempts }}">{{ entry_login_attempts }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_login_attempts" value="{{ config_login_attempts }}" placeholder="{{ entry_login_attempts }}" id="input-login-attempts" class="form-control" />
                    {% if error.login_attempts %}
                    <div class="text-danger">{{ error.login_attempts }}</div>
                    {% endif %} </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-account"><span data-toggle="tooltip" title="{{ help_account }}">{{ entry_account }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_account_id" id="input-account" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      
                      {% for information in informations %}
                      {% if information.information_id == config_account_id %}
                      
                      <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
                      
                      {% else %}
                      
                      <option value="{{ information.information_id }}">{{ information.title }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_checkout }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-invoice-prefix"><span data-toggle="tooltip" title="{{ help_invoice_prefix }}">{{ entry_invoice_prefix }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_invoice_prefix" value="{{ config_invoice_prefix }}" placeholder="{{ entry_invoice_prefix }}" id="input-invoice-prefix" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_cart_weight }}">{{ entry_cart_weight }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_cart_weight %}
                      <input type="radio" name="config_cart_weight" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_cart_weight" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_cart_weight %}
                      <input type="radio" name="config_cart_weight" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_cart_weight" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_checkout_guest }}">{{ entry_checkout_guest }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_checkout_guest %}
                      <input type="radio" name="config_checkout_guest" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_checkout_guest" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_checkout_guest %}
                      <input type="radio" name="config_checkout_guest" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_checkout_guest" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-checkout"><span data-toggle="tooltip" title="{{ help_checkout }}">{{ entry_checkout }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_checkout_id" id="input-checkout" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      
                      {% for information in informations %}
                      {% if information.information_id == config_checkout_id %}
                      
                      <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
                      
                      {% else %}
                      
                      <option value="{{ information.information_id }}">{{ information.title }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-order-status"><span data-toggle="tooltip" title="{{ help_order_status }}">{{ entry_order_status }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_order_status_id" id="input-order-status" class="form-control">
                      
                      {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == config_order_status_id %}
                      
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      
                      {% else %}
                      
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-process-status"><span data-toggle="tooltip" title="{{ help_processing_status }}">{{ entry_processing_status }}</span></label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label> {% if order_status.order_status_id in config_processing_status %}
                          <input type="checkbox" name="config_processing_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                          {{ order_status.name }}
                          {% else %}
                          <input type="checkbox" name="config_processing_status[]" value="{{ order_status.order_status_id }}" />
                          {{ order_status.name }}
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                    {% if error.processing_status %}
                    <div class="text-danger">{{ error.processing_status }}</div>
                    {% endif %} </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-complete-status"><span data-toggle="tooltip" title="{{ help_complete_status }}">{{ entry_complete_status }}</span></label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label> {% if order_status.order_status_id in config_complete_status %}
                          <input type="checkbox" name="config_complete_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                          {{ order_status.name }}
                          {% else %}
                          <input type="checkbox" name="config_complete_status[]" value="{{ order_status.order_status_id }}" />
                          {{ order_status.name }}
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                    {% if error.complete_status %}
                    <div class="text-danger">{{ error.complete_status }}</div>
                    {% endif %} </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-fraud-status"><span data-toggle="tooltip" title="{{ help_fraud_status }}">{{ entry_fraud_status }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_fraud_status_id" id="input-fraud-status" class="form-control">
                      
                      {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == config_fraud_status_id %}
                      
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      
                      {% else %}
                      
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-api"><span data-toggle="tooltip" title="{{ help_api }}">{{ entry_api }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_api_id" id="input-api" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      
                      {% for api in apis %}
                      {% if api.api_id == config_api_id %}
                      
                      <option value="{{ api.api_id }}" selected="selected">{{ api.username }}</option>
                      
                      {% else %}
                      
                      <option value="{{ api.api_id }}">{{ api.username }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_stock }}</legend>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-stock-status">{{ entry_stock_status }}</label>
<div class="col-sm-10">
<select name="config_stock_status_id" id="input-stock-status" class="form-control">
{% for stock_status in stock_statuses %}
{% if stock_status.stock_status_id == stock_status_id %}
<option value="{{ stock_status.stock_status_id }}" selected="selected">{{ stock_status.name }}</option>
{% else %}
<option value="{{ stock_status.stock_status_id }}">{{ stock_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_stock_display }}">{{ entry_stock_display }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_stock_display %}
                      <input type="radio" name="config_stock_display" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_stock_display" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_stock_display %}
                      <input type="radio" name="config_stock_display" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_stock_display" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_stock_warning }}">{{ entry_stock_warning }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_stock_warning %}
                      <input type="radio" name="config_stock_warning" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_stock_warning" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_stock_warning %}
                      <input type="radio" name="config_stock_warning" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_stock_warning" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_stock_checkout }}">{{ entry_stock_checkout }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_stock_checkout %}
                      <input type="radio" name="config_stock_checkout" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_stock_checkout" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_stock_checkout %}
                      <input type="radio" name="config_stock_checkout" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_stock_checkout" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_affiliate }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-affiliate-group">{{ entry_affiliate_group }}</label>
                  <div class="col-sm-10">
                    <select name="config_affiliate_group_id" id="input-affiliate-group" class="form-control">
                      
                      {% for customer_group in customer_groups %}
                      {% if customer_group.customer_group_id == config_affiliate_group_id %}
                      
                      <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                      
                      {% else %}
                      
                      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_affiliate_approval }}">{{ entry_affiliate_approval }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_affiliate_approval %}
                      <input type="radio" name="config_affiliate_approval" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_affiliate_approval" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_affiliate_approval %}
                      <input type="radio" name="config_affiliate_approval" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_affiliate_approval" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_affiliate_auto }}">{{ entry_affiliate_auto }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if config_affiliate_auto %}
                      <input type="radio" name="config_affiliate_auto" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_affiliate_auto" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_affiliate_auto %}
                      <input type="radio" name="config_affiliate_auto" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_affiliate_auto" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-affiliate-commission"><span data-toggle="tooltip" title="{{ help_affiliate_commission }}">{{ entry_affiliate_commission }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="config_affiliate_commission" value="{{ config_affiliate_commission }}" placeholder="{{ entry_affiliate_commission }}" id="input-affiliate-commission" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-affiliate"><span data-toggle="tooltip" title="{{ help_affiliate }}">{{ entry_affiliate }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_affiliate_id" id="input-affiliate" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      
                      {% for information in informations %}
                      {% if information.information_id == config_affiliate_id %}
                      
                      <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
                      
                      {% else %}
                      
                      <option value="{{ information.information_id }}">{{ information.title }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_return }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-return"><span data-toggle="tooltip" title="{{ help_return }}">{{ entry_return }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_return_id" id="input-return" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      
                      {% for information in informations %}
                      {% if information.information_id == config_return_id %}
                      
                      <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
                      
                      {% else %}
                      
                      <option value="{{ information.information_id }}">{{ information.title }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-return-status"><span data-toggle="tooltip" title="{{ help_return_status }}">{{ entry_return_status }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_return_status_id" id="input-return-status" class="form-control">
                      
                      {% for return_status in return_statuses %}
                      {% if return_status.return_status_id == config_return_status_id %}
                      
                      <option value="{{ return_status.return_status_id }}" selected="selected">{{ return_status.name }}</option>
                      
                      {% else %}
                      
                      <option value="{{ return_status.return_status_id }}">{{ return_status.name }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_captcha }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_captcha }}">{{ entry_captcha }}</span></label>
                  <div class="col-sm-10">
                    <select name="config_captcha" id="input-captcha" class="form-control">
                      <option value="">{{ text_none }}</option>
                      
                      {% for captcha in captchas %}
                      {% if captcha.value == config_captcha %}
                      
                      <option value="{{ captcha.value }}" selected="selected">{{ captcha.text }}</option>
                      
                      {% else %}
                      
                      <option value="{{ captcha.value }}">{{ captcha.text }}</option>
                      
                      {% endif %}
                      {% endfor %}
                    
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_captcha_page }}</label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for captcha_page in captcha_pages %}
                      <div class="checkbox">
                        <label> {% if captcha_page.value in config_captcha_page %}
                          <input type="checkbox" name="config_captcha_page[]" value="{{ captcha_page.value }}" checked="checked" />
                          {{ captcha_page.text }}
                          {% else %}
                          <input type="checkbox" name="config_captcha_page[]" value="{{ captcha_page.value }}" />
                          {{ captcha_page.text }}
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                  </div>
                </div>
              </fieldset>