<fieldset>
    <legend>{{ text_general }}</legend>

    <div class="form-group">
    <label class="col-sm-2 control-label" for="admin_pass"><span data-toggle="tooltip" title="{{ help_pass }}">{{ entry_pass }}</label>
    <div class="col-sm-10">
    <input type="text" name="config_pass[admin_pass]" value="{% if config_pass.admin_pass %}{{ config_pass.admin_pass }}{% endif %}" id="admin_pass" class="form-control" />
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="admin_key"><span data-toggle="tooltip" title="{{ help_key }}">{{ entry_key }}</label>
    <div class="col-sm-10">
    <input type="text" name="config_pass[admin_key]" value="{% if config_pass.admin_key %}{{ config_pass.admin_key }}{% endif %}" id="admin_key" class="form-control" />
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_maintenance }}">{{ entry_maintenance }}</span></label>
    <div class="col-sm-10">
        <label class="radio-inline"> {% if config_maintenance %}
        <input type="radio" name="config_maintenance" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_maintenance" value="1" />
        {{ text_yes }}
        {% endif %} </label>
        <label class="radio-inline"> {% if not config_maintenance %}
        <input type="radio" name="config_maintenance" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_maintenance" value="0" />
        {{ text_no }}
        {% endif %} </label>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_seo_url }}">{{ entry_seo_url }}</span></label>
    <div class="col-sm-10">
        <label class="radio-inline"> {% if config_seo_url %}
        <input type="radio" name="config_seo_url" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_seo_url" value="1" />
        {{ text_yes }}
        {% endif %} </label>
        <label class="radio-inline"> {% if not config_seo_url %}
        <input type="radio" name="config_seo_url" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_seo_url" value="0" />
        {{ text_no }}
        {% endif %} </label>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="input-robots"><span data-toggle="tooltip" title="{{ help_robots }}">{{ entry_robots }}</span></label>
    <div class="col-sm-10">
        <textarea name="config_robots" rows="5" placeholder="{{ entry_robots }}" id="input-robots" class="form-control">{{ config_robots }}</textarea>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="input-compression"><span data-toggle="tooltip" title="{{ help_compression }}">{{ entry_compression }}</span></label>
    <div class="col-sm-10">
        <input type="text" name="config_compression" value="{{ config_compression }}" placeholder="{{ entry_compression }}" id="input-compression" class="form-control" />
    </div>
    </div>
</fieldset>
<fieldset>
<legend>{{ text_security }}</legend>
<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_secure }}">{{ entry_secure }}</span></label>
    <div class="col-sm-10">
        <label class="radio-inline"> {% if config_secure %}
            <input type="radio" name="config_secure" value="1" checked="checked" />
            {{ text_yes }}
            {% else %}
            <input type="radio" name="config_secure" value="1" />
            {{ text_yes }}
            {% endif %}
        </label>
        <label class="radio-inline"> {% if not config_secure %}
            <input type="radio" name="config_secure" value="0" checked="checked" />
            {{ text_no }}
            {% else %}
            <input type="radio" name="config_secure" value="0" />
            {{ text_no }}
            {% endif %}
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_password }}">{{ entry_password }}</span></label>
    <div class="col-sm-10">
    <label class="radio-inline"> {% if config_password %}
        <input type="radio" name="config_password" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_password" value="1" />
        {{ text_yes }}
        {% endif %} </label>
    <label class="radio-inline"> {% if not config_password %}
        <input type="radio" name="config_password" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_password" value="0" />
        {{ text_no }}
        {% endif %} </label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_shared }}">{{ entry_shared }}</span></label>
    <div class="col-sm-10">
    <label class="radio-inline"> {% if config_shared %}
        <input type="radio" name="config_shared" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_shared" value="1" />
        {{ text_yes }}
        {% endif %} </label>
    <label class="radio-inline"> {% if not config_shared %}
        <input type="radio" name="config_shared" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_shared" value="0" />
        {{ text_no }}
        {% endif %} </label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-encryption"><span data-toggle="tooltip" title="{{ help_encryption }}">{{ entry_encryption }}</span></label>
    <div class="col-sm-10">
    <textarea name="config_encryption" rows="5" placeholder="{{ entry_encryption }}" id="input-encryption" class="form-control">{{ config_encryption }}</textarea>
    {% if error.encryption %}
    <div class="text-danger">{{ error.encryption }}</div>
    {% endif %} </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="input-file-max-size">{{ entry_developer_user_group }}</label>
    <div class="col-sm-10">
        <select  name="config_developer_user_group" id="input-config_developer_user_group" class="form-control" placeholder="{{ entry_developer_user_group }}">
            {% for user_group in user_groups %}
            <option value="{{ user_group.user_group_id }}" {% if user_group.user_group_id == config_developer_user_group %} selected="selected" {% endif %}>{{ user_group.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

</fieldset>
<fieldset>
<legend>{{ text_upload }}</legend>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-file-max-size"><span data-toggle="tooltip" title="{{ help_file_max_size }}">{{ entry_file_max_size }}</span></label>
    <div class="col-sm-10">
    <input type="text" name="config_file_max_size" value="{{ config_file_max_size }}" placeholder="{{ entry_file_max_size }}" id="input-file-max-size" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-file-ext-allowed"><span data-toggle="tooltip" title="{{ help_file_ext_allowed }}">{{ entry_file_ext_allowed }}</span></label>
    <div class="col-sm-10">
    <textarea name="config_file_ext_allowed" rows="5" placeholder="{{ entry_file_ext_allowed }}" id="input-file-ext-allowed" class="form-control">{{ config_file_ext_allowed }}</textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-file-mime-allowed"><span data-toggle="tooltip" title="{{ help_file_mime_allowed }}">{{ entry_file_mime_allowed }}</span></label>
    <div class="col-sm-10">
    <textarea name="config_file_mime_allowed" rows="5" placeholder="{{ entry_file_mime_allowed }}" id="input-file-mime-allowed" class="form-control">{{ config_file_mime_allowed }}</textarea>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ text_error }}</legend>
<div class="form-group">
    <label class="col-sm-2 control-label">{{ entry_error_display }}</label>
    <div class="col-sm-10">
    <label class="radio-inline"> {% if config_error_display %}
        <input type="radio" name="config_error_display" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_error_display" value="1" />
        {{ text_yes }}
        {% endif %} </label>
    <label class="radio-inline"> {% if not config_error_display %}
        <input type="radio" name="config_error_display" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_error_display" value="0" />
        {{ text_no }}
        {% endif %} </label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{ entry_error_log }}</label>
    <div class="col-sm-10">
    <label class="radio-inline"> {% if config_error_log %}
        <input type="radio" name="config_error_log" value="1" checked="checked" />
        {{ text_yes }}
        {% else %}
        <input type="radio" name="config_error_log" value="1" />
        {{ text_yes }}
        {% endif %} </label>
    <label class="radio-inline"> {% if not config_error_log %}
        <input type="radio" name="config_error_log" value="0" checked="checked" />
        {{ text_no }}
        {% else %}
        <input type="radio" name="config_error_log" value="0" />
        {{ text_no }}
        {% endif %}</label>
    </div>
</div>
<div class="form-group required">
    <label class="col-sm-2 control-label" for="input-error-filename">{{ entry_error_filename }}</label>
    <div class="col-sm-10">
    <input type="text" name="config_error_filename" value="{{ config_error_filename }}" placeholder="{{ entry_error_filename }}" id="input-error-filename" class="form-control" />
    {% if error_log %}
    <div class="text-danger">{{ error_log }}</div>
    {% endif %} </div>
</div>
</fieldset>