 <div class="form-group">
    <label class="col-sm-2 control-label" for="input-theme">{{ entry_theme }}</label>
    <div class="col-sm-10">
    <select name="config_theme" id="input-theme" class="form-control">
        
        {% for theme in themes %}
        {% if theme.value == config_theme %}
        
        <option value="{{ theme.value }}" selected="selected">{{ theme.text }}</option>
        
        {% else %}
        
        <option value="{{ theme.value }}">{{ theme.text }}</option>
        
        {% endif %}
        {% endfor %}
    
    </select>
    <br />
    <img src="" alt="" id="theme" class="img-thumbnail" /></div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-layout">{{ entry_layout }}</label>
    <div class="col-sm-10">
    <select name="config_layout_id" id="input-layout" class="form-control">
        
        {% for layout in layouts %}
        {% if layout.layout_id == config_layout_id %}
        
        <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
        
        {% else %}
        
        <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
        
        {% endif %}
        {% endfor %}
    
    </select>
    </div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-adaptive_status">{{ entry_adaptive_status }}</label>
<div class="col-sm-10">
<select name="config_adaptive_status" id="input-adaptive_status" class="form-control">
<option value="1" {{ config_adaptive_status == 1 ? 'selected="selected"' : '' }} >{{ text_yes }}</option>
<option value="0" {{ config_adaptive_status == 0 ? 'selected="selected"' : '' }}>{{ text_no }}</option>
</select>
</div>
</div>

